@model IEnumerable<Shop.EF.tbl_Category>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Category_Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create_Category")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatId)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit_Category", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Category_Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
